<div id="cesiumViewContainer" class="container full-width">
     <div class="col-lg-2 col-md-2">
      <button class="button-primary" {{action "reloadLayers"}}>Click me!</button>
     </div>
    <div class="col-lg-10 col-md-10">
      <div id="cesiumContainer"></div>
    </div>
</div>
